pip
yt-dlp
python-dotenv
ffmpeg
PyNaCl
alpha-vantage
pandas
matplotlib
requests
tika
mysql
mysql-connector
Pillow
sanic
apscheduler
pytz
typing-extensions
newsapi-python
urllib3
lxml
beautifulsoup4
py-cord==2.0.0b1