pip
yt-dlp
python-dotenv
git+https://github.com/Pycord-Development/pycord
ffmpeg
PyNaCl
alpha-vantage
pandas
matplotlib
requests
tika
mysql
mysql-connector
Pillow
sanic
apscheduler
pytz
typing-extensions
newsapi-python
urllib3
lxml
beautifulsoup4
oracledb
pyoracleclient