pip
yt-dlp
python-dotenv
ffmpeg
PyNaCl
alpha-vantage
pandas
matplotlib
requests
tika
mysql
mysql-connector
Pillow
sanic
apscheduler
pytz
typing-extensions
newsapi-python
urllib3
lxml
beautifulsoup4
git+https://github.com/Pycord-Development/pycord@3bd5a4984d3db6157998685e662651560d0b8988